body {
   background-color: rgb(49, 126, 197);
}
.nav { 
    position: fixed;
    left: 1750px;
    top: 55px;
    max-width: 120px;   
    background-color: rgb(49, 126, 197);  
    font-size: 25px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    font-family: "Arial Black";
}

h1 { 
    padding-top:50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 60px;
    font-family: "Arial Black";
    background-color: rgb(12, 18, 58);
    color: rgb(243, 236, 236)
    
}
.imagenPerfil { 
    position: absolute; ;
    top: 50px;
    left: 30px;
    max-height: 200px;
    height:  250px;
    border-radius: 60px 
}
/*
.imagenFondo { 
    background-color: rgb(1, 26, 51);
   padding-left: 26%;
   height: 400px;
   width: 500px
}
 */   

.footer { 
    background-color: rgb(22, 28, 65);
    color: rgb(161, 156, 156);
    margin-top: 100%;
    text-align: center;
    max-width: 100%;
    max-height: 100px;
    font-size:20px
}


